2captcha-python==1.2.5
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
asgiref==3.8.1
async-timeout==5.0.1
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
blis==0.7.11
bs4==0.0.2
CacheControl==0.14.0
cachetools==5.3.3
capsolver==1.0.7
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chromedriver-autoinstaller==0.6.4
click==8.1.7
cloudpathlib==0.18.1
confection==0.1.5
construct==2.5.3
contourpy==1.3.1
cryptography==42.0.5
cssselect==1.2.0
cycler==0.12.1
cymem==2.0.8
distro==1.9.0
dj-database-url==2.1.0
Django==5.0.4
django-cors-headers==4.3.1
django-elasticsearch-dsl==8.0
django-heroku==0.3.1
djangorestframework==3.15.1
docx==0.2.4
dropbox==11.36.2
elastic-transport==8.13.0
elasticsearch==8.13.0
elasticsearch-dsl==8.13.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
english-words==1.1.0
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fake-useragent==1.5.1
filelock==3.16.1
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.55.3
fsspec==2024.12.0
future==1.0.0
fuzzywuzzy==0.18.0
git-filter-repo==2.47.0
google-api-core==2.18.0
google-api-python-client==2.126.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-dlp==3.18.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.62.2
grpcio-status==1.62.2
h11==0.14.0
haystack==0.42
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.27.0
idna==3.7
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.0
jsonfinder==0.4.2
kiwisolver==1.4.7
langcodes==3.4.0
language_data==1.2.0
Levenshtein==0.25.1
libpff-python @ file:///Users/Shared/Dropbox/CodingProjects/extract_email_contacts/libpff
lightgbm==4.6.0
lxml==5.2.2
lxml_html_clean==0.3.0
lzstring==1.0.4
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.4.13
markdownify==0.12.1
MarkupSafe==2.1.5
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.8
murmurhash==1.0.10
networkx==3.4.2
ngram==4.0.3
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.54.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
parse==1.20.2
pdfminer==20191125
pdfminer.six==20231228
pdfplumber==0.11.1
pefile==2023.2.7
phonetics==1.0.5
pillow==10.3.0
ply==3.11
preshed==3.0.9
proto-plus==1.23.0
protobuf==4.25.3
psutil==7.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.11
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.2
pydantic_core==2.18.3
pyee==11.1.1
Pygments==2.18.0
pyjarowinkler==1.8
PyJWT==2.8.0
pyOpenSSL==24.2.1
pypandoc==1.13
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.30.0
pyppeteer==2.0.0
pyquery==2.0.1
pyrsistent==0.20.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-ptrace==0.9.9
pytz==2024.1
PyYAML==6.0.2
random-user-agent==1.0.1
rapidfuzz==3.8.1
redis==7.1.0
regex==2024.4.16
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
selenium==4.23.1
sentence-transformers==3.3.1
shellingham==1.5.4
six==1.16.0
slugify==0.0.1
smart-open==7.0.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spotipy==2.25.2
sqlparse==0.5.0
srsly==2.4.8
stone==3.3.3
stripe==9.9.0
sympy==1.13.3
tabulate==0.9.0
textdistance==4.6.3
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.21.0
torch==2.2.2
tqdm==4.66.2
transformers==4.47.1
trio==0.25.0
trio-websocket==0.11.1
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==1.26.20
w3lib==2.1.2
wasabi==1.1.3
weasel==0.4.1
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.3
whitenoise==6.6.0
wordninja==2.0.0
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
zipp==3.20.2
